<script src="@Url.Content("~/Scripts/knockout-3.2.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.validation.modified.js")" type="text/javascript"></script>
<script src="~/Scripts/Knockout.bindings.orderable.js"></script>

<script type="text/javascript">
      
    $(function () {
        var gridxxxserver = [{ aaa: "Mike", bbb: "Smith", ccc: 34 },
           { aaa: "Ben", bbb: "Miller", ccc: 18 },
         { aaa: "Rebecca", bbb: "Abbarno", ccc: 25 }];
        //alert(ko.utils.parseJson(gridxxxserver));
        //var gridxxx = ko.utils.parseJson(gridxxxserver);
        //alert(gridxxx);
      
        vm = ko.mapping.fromJS({
            gridxxx: gridxxxserver
        });
        alert(JSON.stringify(vm.gridxxx));
        //{ aaa: "Mike", bbb: "Smith", ccc: 34 },
        //       { aaa: "Ben", bbb: "Miller", ccc: 18 },
        //       { aaa: "Rebecca", bbb: "Abbarno", ccc: 25 }
        //alert(JSON.stringify(vm));
        ko.applyBindings(vm);
    });
</script>

<div class="request-heading">
    <span class="mainheading">Journeys:</span>
</div>

<div class="gridView col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th><a href="#" data-bind="orderable: {collection: 'gridxxx', field: 'aaa'}" class="">First Name</a></th>
                <th><a href="#" data-bind="orderable: {collection: 'gridxxx', field: 'bbb'}" class="">Last Name</a></th>
                <th><a href="#" data-bind="orderable: {collection: 'gridxxx', field: 'ccc', defaultField: true, defaultDirection: 'desc'}" class="sorted desc">Age</a></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: gridxxx">
            <tr>
                <td data-bind="text: aaa"></td>
                <td data-bind="text: bbb"></td>
                <td data-bind="text: ccc"></td>
            </tr>

       </tbody>
    </table>
</div>